
  body {
    background-color: rgb(106, 150, 164);
  }
  .right {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
  }
 
  image.head {
    display: block;
    margin-right: auto;
    width: 50%;
}
header{
background-color: rgb(0, 100, 180);
padding: 10px;
}
footer{background-color: rgb(0, 100, 180);
  padding: 10px;}

div.head {
float: right;
}
div.center{

text-align: center;

}
.custom-max-width {
  max-width: 150px; 
}


.responsive {
  width: 100%;
  max-width: 400px;
  float: center;
  height: auto;
}
div.a {
  float: left;
}